:root{
    --primary : #FF0000;
    --secondary : #282828;
}
::selection {
    color: white;
    background: #282828;
  }

body {
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}
.jumbotron {
    background-color:#F3F6FB;
    padding:20px;
}
input[type=text] {
    width:80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
button {
    background-color: #D0EDF5;
    color:#151B27;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}
.form {
    border-radius: 5px;
    /* background-color: #F5EEE4; */
    padding: 30px;
}
.col-3 {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-size:18px;
}
.col-6 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.form-row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, button {
      width: 100%;
      margin-top: 0;
    }
}
.video-data {
    width: 400px;
    padding:30px;
    margin: 60px auto;
    display: none;
    background-color:var(--secondary);
    color: white;
}
.video-data .data .thumbnail img {
    width: 100%;
}
.video-data .data .info h2 {
    font-size:20px;
    margin-bottom: 10px;
    color: #151B27;
}
.video-data .data .info p {
    font-size:15px;
    color: white;
    font-family: 'Varela Round', sans-serif; ;
}
.video-data .controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
i {
    font-size:50px;
    padding-top:25px;
}
.row{
    background-color:#D0EDF5;
    margin-top:10px;
    color: #151B27;
}
.navbar{
    background-color:white;
    font-family: 'Varela Round', sans-serif;
}
.navbar .nav-pills .nav-item  .nav-link{
    color: black;

}
.navbar .navbar-brand{
    padding: 25px;
}
.navbar .navbar-nav .nav-item .nav-link{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}

ul{
    color: #90a822;
}
#get-video-info-btn{
 background-color: var(--primary);
 color: black;
 border-radius: 5px;
 border-color: red;
 height: 50px;
 width: 140px;
}
#get-video-info-btn:hover{
    background-color: transparent;
    color:white;
    border-color:white;
}

#videoURL{
    background-color: #f2f2f2;
    color: black;
    border-radius: 5px;
}
.icon{
    padding: 15px;
}
.middle{
    background-color: var(--secondary);
    color: white;
    font-family: 'Varela Round', sans-serif;
    padding: 20px;
    height: 18rem;
}
.supported_platform{
    padding: 10px;
    margin-left: 7px;
    font-family: 'Varela Round', sans-serif;

}
.justify-content-center{
    background-color: white;

}

.col{
    background-color: var(--secondary);
    padding: 60px;
    display: inline;
    font-family: 'Varela Round', sans-serif;
}
.text{
    color: white;
}
.heading{
    background-color: var(--secondary);
    color: white;
    text-align: center;
    font-family:'Varela Round', sans-serif;
    padding-top: 25px;
    font-weight: lighter;
}
p{
    padding: 20px;
}
.col-md-3{
    padding: 30px;
    padding-left: 20px;
}
.accordion{
    width: 70%;
    margin-left: 15%;
    font-family: 'Varela Round', sans-serif;
    
}
.accordion .accordion-button{
    background-color:var(--secondary) ;
    color: white;
}
.footer-bottom{
    width: 100%;
    padding: 20px;
    height: 60px;
    background-color: var(--secondary);
    margin-top: 12%;
    color: white;
    font-family: 'Varela Round', sans-serif;
}
.FAQ{
    font-family:'Varela Round', sans-serif ;
    color: red;
    padding: 7px;
}
